<div class="row">
    <p id="list-title">{{.listName}}</p>
</div>

<form id="userForm" action="/user/create/" method="post" role="form">
    {{ .xsrf }}
    <div class="row">
        <button type="submit" form="userForm" class="btn btn-primary fa fa-save pull-left">&nbsp保存</button>
        <a href="{{.URL}}/list/" class="btn btn-danger fa fa-remove  pull-left">&nbsp取消</a>
        <a href="{{.URL}}/list/" class="btn btn-info fa fa-list pull-right">&nbsp列表</a>
    </div>
    <div class="row">
        <fieldset>
            <legend>基本信息</legend>
            <div class="form-group">
                <div class="row">
                    <label for="name" class="col-md-1 control-label label-start">用户名</label>
                    <div class="col-md-2">
                        <input class="form-control" name="name" type="text" data-bv-name-message="用户名不能为空" />
                    </div>
                    <label for="namezh" class="col-md-1 control-label">用户名(中文)</label>
                    <div class="col-md-2">
                        <input class="form-control" name="namezh" type="text" />
                    </div>
                    <label for="email" class="col-md-1 control-label label-start">邮箱</label>
                    <div class="col-md-2">
                        <input class="form-control" name="email" type="email" data-bv-email-message="邮箱不能为空" />
                    </div>
                    <label for="mobile" class="col-md-1 control-label label-start">手机号码</label>
                    <div class="col-md-2">
                        <input class="form-control" name="mobile" type="text" data-bv-email-message="手机号码不能为空" />
                    </div>
                </div>
                <div class="row">
                    <label for="tel" class="col-md-1 control-label">座机</label>
                    <div class="col-md-2">
                        <input class="form-control" name="tel" type="text" />
                    </div>
                    <label for="qq" class="col-md-1 control-label">QQ</label>
                    <div class="col-md-2">
                        <input class="form-control" name="qq" type="text" data-bv-email-message="手机号码不能为空" />
                    </div>
                    <label for="wechat" class="col-md-1 control-label">微信</label>
                    <div class="col-md-2">
                        <input class="form-control" name="wechat" type="text" />
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>部门信息</legend>
            <div class="form-group">
                <div class="row">
                    <label for="department" class="col-md-1 control-label label-start">部门</label>
                    <div class="col-md-2">
                        <select name="department" id="department" class="form-control select-department">
                        </select>
                    </div>
                    <label for="postion" class="col-md-1 control-label label-start">职位</label>
                    <div class="col-md-2">
                        <select name="postion" id="postion" class="form-control select-postion">
                        </select>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>权限组信息</legend>
            <div class="form-group">
                <div class="row">
                    <label for="department" class="col-md-1 control-label  label-start">权限组</label>
                    <div class="col-md-2">
                        <input class="form-control" name="department" type="text" />
                    </div>
                </div>
            </div>

        </fieldset>
    </div>
</form>