<div class="row">
    <p id="list-title">{{.listName}}</p>
</div>

<form id="userForm" action="/user/create/" method="post" class="form-horizontal" role="form">
    <div class="row">
        <button type="submit" form="userForm" id="userFormBtn" class="btn btn-primary fa fa-save pull-left">&nbsp保存</button>
        <a href="{{.URL}}/list/" class="btn btn-danger fa fa-remove  pull-left">&nbsp取消</a>
        <a href="{{.URL}}/list/" class="btn btn-info fa fa-list pull-right">&nbsp列表</a>
    </div>
    {{ .xsrf }}
    <fieldset>
        <legend>基本信息</legend>
        <div class="form-group">
            <label for="username" class="col-md-1 control-label label-start">用户名<span>*</span></label>
            <div class="col-md-2">
                <input class="form-control" name="username" type="text" />
            </div>
            <label for="namezh" class="col-md-1 control-label">用户名(中文)</label>
            <div class="col-md-2">
                <input class="form-control" name="namezh" type="text" data-bv-excluded/>
            </div>
            <label for="mobile" class="col-md-1 control-label label-start">手机号码</label>
            <div class="col-md-2">
                <input class="form-control" name="mobile" id="mobile" type="text" />
                </select>
            </div>
            <label for="tel" class="col-md-1 control-label">座机</label>
            <div class="col-md-2">
                <input class="form-control" name="tel" id="tel" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-md-1 control-label label-start">密码</label>
            <div class="col-md-2">
                <input class="form-control" name="password" id="password" type="password" />
            </div>
            <label for="email" class="col-md-1 control-label label-start">邮箱</label>
            <div class="col-md-2">
                <input class="form-control" name="email" id="email" type="email" />
            </div>
            <label for="qq" class="col-md-1 control-label ">QQ</label>
            <div class="col-md-2">
                <input class="form-control" name="qq" id="qq" type="text" />
            </div>
            <label for="wechat" class="col-md-1 control-label">微信</label>
            <div class="col-md-2">
                <input class="form-control" name="wechat" id="wechat" type="text" />
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>部门信息</legend>
        <div class="form-group">
            <label for="department" class="col-md-1 control-label label-start">部门</label>
            <div class="col-md-2">
                <select name="department" id="department" class="form-control select-department">
            </select>
            </div>
            <label for="postion" class="col-md-1 control-label label-start">职位</label>
            <div class="col-md-2">
                <select name="postion" id="postion" class="form-control select-postion"></select>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>权限信息</legend>
        <div class="form-group">
            <label for="isadmin" class="col-md-1 control-label ">超级用户</label>
            <div class="col-md-2 ">
                <input name="isadmin" id="isadmin" class="form-control form-checkbox" type="checkbox">
            </div>
            <label for="active" class="col-md-1 control-label ">有效</label>
            <div class="col-md-2 ">
                <input name="active" id="active" class="form-control form-checkbox" checked="checked" type="checkbox">
            </div>
            <label for="group" class="col-md-1 control-label label-start">权限组</label>
            <div class="col-md-2">
                <select name="group" id="group" class="form-control select-group"></select>
            </div>
        </div>
    </fieldset>
</form>