<div class="row">
    <p id="list-title">{{.listName}}</p>
</div>

<form id="userForm" action="/user/{{.RecordId}}?action=create" method="post" class="form-horizontal {{if .Readonly}}form-readonly{{end}}" role="form">
    <div class="row">
        {{if .Readonly }}
        <a href="{{.Url}}/?action=edit" class="btn btn-success glyphicon glyphicon-pencil">编辑</a>{{else}}
        <button type="submit" form="userForm" id="userFormBtn" class="btn btn-primary fa fa-save pull-left">&nbsp保存</button>
        <a href="{{.URL}}" class="btn btn-danger fa fa-remove  pull-left">&nbsp取消</a> {{end}}
        <a href="{{.URL}}" class="btn btn-info fa fa-list pull-right">&nbsp列表</a>
    </div>
    {{ .xsrf }}
    <fieldset>
        <legend>基本信息</legend>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="username" class="col-md-4 control-label label-start">用户名<span>&nbsp*</span></label>
                    <div class="col-md-8">
                        <input class="form-control" name="username" {{if not .Readonly}}autofocus{{end}} type="text" value="{{.User.Name}}" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="namezh" class="col-md-4 control-label">用户名(中文)<span>&nbsp*</span></label>
                    <div class="col-md-8">
                        <input class="form-control" name="namezh" type="text" value="{{.User.NameZh}}" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="mobile" class="col-md-4 control-label label-start">手机号码<span>&nbsp*</span></label>
                    <div class="col-md-8">
                        <input class="form-control" name="mobile" id="mobile" type="text" value="{{.User.Mobile}}" />
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="tel" class="col-md-4 control-label">座机</label>
                    <div class="col-md-8">
                        <input class="form-control" name="tel" id="tel" type="text" value="{{.User.Tel}}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="password" class="col-md-4 control-label label-start">密码<span>&nbsp*</span></label>
                    <div class="col-md-8">
                        <input class="form-control" name="password" id="password" type="password" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="email" class="col-md-4 control-label label-start">邮箱<span>&nbsp*</span></label>
                    <div class="col-md-8">
                        <input class="form-control" name="email" id="email" type="email" value="{{.User.Email}}" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="qq" class="col-md-4 control-label ">QQ</label>
                    <div class="col-md-8">
                        <input class="form-control" name="qq" id="qq" type="text" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="wechat" class="col-md-4 control-label">微信</label>
                    <div class="col-md-8">
                        <input class="form-control" name="wechat" id="wechat" type="text" />
                    </div>
                </div>

            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>部门信息</legend>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="department" class="col-md-4 control-label label-start">部门<span>&nbsp*</span></label>
                    <div class="col-md-8">
                        <select aria-hidden="true" name="department" id="department" class="form-control  select-department">
                            {{if .User.Department}}
                                <option value="{{.User.Department.Id}}" selected="selected" >{{.User.Department.Name}}</option>
                            {{end}}
                    </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="position" class="col-md-4 control-label label-start">职位<span>&nbsp*</span></label>
                    <div class="col-md-8">
                        <select name="position" id="position" class="form-control select-position">
                            {{if .User.Position}}
                                <option value="{{.User.Position.Id}}" selected="selected" >{{.User.Position.Name}}</option>
                            {{end}}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>权限信息</legend>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="isadmin" class="col-md-4 control-label ">超级用户</label>
                    <div class="col-md-8 ">
                        <input name="isadmin" id="isadmin" class="form-control form-checkbox" type="checkbox">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="active" class="col-md-4 control-label ">有效</label>
                    <div class="col-md-8 ">
                        <input name="active" id="active" class="form-control form-checkbox" checked="checked" type="checkbox">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="group" class="col-md-4 control-label label-start" multiple="multiple">权限组<span>&nbsp*</span></label>
                    <div class="col-md-8">
                        <select name="group" id="group" class="form-control select-group"></select>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>