.text-left{
    text-align: left;
}
.content-wrapper{
    padding:10px 30px;; 

}
#list-title{
    margin:0 0;
    height:30px;
    line-height:30px;
}
.list-view-title{
    margin-bottom:10px; 
}

.btn-action{
    padding-top:4px;
    padding-bottom:4px;  
}
.list-page{
    display: inline-block;
}
.list-page div{
    display: inline-block;
}
.list-filter{
    position: relative;
    clear: both;
}
.list-btn-action{
    margin-bottom: 2px;
}