<div class="row">
    <p id="list-title">{{.listName}}</p>
</div>

<form id="productCategoryForm" action="/product/category/{{.RecordId}}?action={{.Action}}" method="post" class="form-horizontal" role="form">
    <div class="row">
        <button type="submit" form="productCategoryForm" id="productCategoryForm" class="btn btn-primary fa fa-save pull-left">&nbsp保存</button>
        <a href="{{.URL}}/" class="btn btn-danger fa fa-remove  pull-left">&nbsp取消</a>
        <a href="{{.URL}}/" class="btn btn-info fa fa-list pull-right">&nbsp列表</a>
    </div>
    {{ .xsrf }} {{if .RecordId}}
    <input type="hidden" name="_recordId" id="record-id" value="{{.RecordId}}">
    <input type="hidden" name="_method" value="PUT"> {{end}}
    <fieldset>
        <legend>基本信息</legend>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="name" class="col-md-4 control-label label-start">产品类别<span>&nbsp*</span></label>
                    <div class="col-md-8">
                        <input class="form-control" name="name" type="text" {{if .Category}} value="{{.Category.name}}" {{end}} />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="parent" class="col-md-4 control-label label-start">上级类别</label>
                    <div class="col-md-8">
                        <select name="parent" id="parent" class="form-control select-product-category" {{if .Category}} {{if .Category.parent}} data-default-id="{{.Category.parent.id}}" data-default-name="{{.Category.parent.name}}" {{end}} {{end}}>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

</form>