<div class="row list-view-title">
	<p  id="list-title" class="pull-left" >{{.listName}}</p>
	
	<div >
		<form action="{{.DataTree.Url}}/search/" method="post">
			{{ .xsrf }}
			<div class="box-tools pull-right">
				<div class="input-group input-group-sm" style="width: 250px;">
					<input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
					<div class="input-group-btn">
						<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
					</div>
				</div>
				
			</div>