<div class="row">
	<p  id="list-title" class="pull-left" >订单</p>
	
	<div >
		<form action="{{.DataTree.Url}}/search/" method="post">
			{{ .xsrf }}
			<div class="box-tools pull-right">
				<div class="input-group input-group-sm" style="width: 250px;">
					<input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

					<div class="input-group-btn">
						<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
					</div>
				</div>
			</div>
		 </form>
	</div>
</div>
<div class="row">
	<a href="#" class="btn btn-success fa fa-plus"></a>
	<div class="btn-group tree-top-action"  style="width:300px;margin:0px auto;">
		  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    操作 <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu">
		    <li><a href="#">删除</a></li>
		    <li><a href="#">Another action</a></li>
		    <li><a href="#">Something else here</a></li>
		    <li role="separator" class="divider"></li>
		    <li><a href="#">Separated link</a></li>
		  </ul>
		</div>
</div>