 </form>
	</div>
</div>
<div class="row text-center">
	<a href="#" class="btn btn-success fa fa-plus pull-left"></a>
		<div class="btn-group "  >
			<button type="button" class="btn btn-primary btn-sm dropdown-toggle btn-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				操作 <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">删除</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>
	{{if gt .Paginator.TotalPage 1}}
		<div  class="list-page pull-right">
			<div >
				<span >{{.Paginator.CurrentPage}}/{{.Paginator.TotalPage}}</span>
			</div>
			<div  class="btn-group btn-group-sm">
				{{if eq .Paginator.CurrentPage 1}}
					<a type="button"  class="fa fa-chevron-left btn btn-default page-link disabled"></a>
				{{else}}
					<a type="button" class="fa fa-chevron-left btn btn-default page-link"></a>
				{{end}}
				{{if eq .Paginator.CurrentPage .Paginator.TotalPage}}
					<a type="button" class="fa fa-chevron-right btn btn-default page-link disabled"></a>
				{{else}}
					<a type="button" class="fa fa-chevron-right btn btn-default page-link "></a>
				{{end}}
			</div>
		</div>
	{{end}}
</div>