<form action="{{.Url}}/{{.Action}}/{{.Id}}" method="POST" id="{{.formId}}" class="form-horizontal" role="form">

<nav class="navbar navbar-static-top nav-bottom-line">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{.Url}}/list/">{{.formName}}</a></li>
            {{if eq .Action "create"}}
               <li class="active">新建</li>
            {{else}}
               
            {{end}}
            
        </ol>
    </div>
    <div class="row">
        <button href="{{.URL}}/create/" type="buttom" class="btn btn-success fa fa-save pull-left">&nbsp保存</button>
        <a href="{{.URL}}/list/" type="buttom" class="btn btn-danger fa fa-close pull-left">&nbsp取消</a>
    </div>
</nav>

</form>